.button__icon {
  width: 1.4em;
  height: 1.4em;
  margin-right: 0.5em;

}

.button_with_icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  font-weight:bold;
  text-transform: none;
}

.profilepic {
    width: 150px;
    border-radius: 20%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.projects_with_description {
  font-size: 18px;
}

a {
  color: #0000EE;
}
