.button__icon {
  width: 1.4em;
  height: 1.4em;
  margin-right: 0.5em;
}

.button__icon_x {
  width: 1.4em;
  height: 1.1em;
  margin-right: 0.5em;
}

.button_with_icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  font-weight:bold;
  text-transform: none;
}

.socials_with_icon {
  display: flex;
  flex-direction: row;
  align-items: center;

  font-weight:bold;
  text-transform: none;
}

.follow-centered {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: flex-end; */
  /* justify-content: flex-start; */
  justify-content: center;
}

.profilepic {
    width: 150px;
    border-radius: 20%;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.projects_with_description {
  font-size: 18px;
}

a {
  color: #3d3de3;
}

h5 {
  color: unset;
  font-family: monospace;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-left: 5px;
    margin-right: 5px;
}
